.main__div_bg {
    background: #dd9226;
    height: 100vh;
    width: 100%;
    display: flex;
}

.results__container {
    align-self: center;
    background-color: white;
    width: 90%;
    height: fit-content;
    -webkit-box-shadow: 10px 10px 39px -9px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 39px -9px rgba(0, 0, 0, 0.17);
    box-shadow: 10px 10px 39px -9px rgba(0, 0, 0, 0.17);
    display: flex;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.results__col_l {
    width: 55%;
    padding: 40px
}

.chartjs-render-monitor {
    margin: 40px 0;
}

.results__col_r {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results__bar-container {
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.progress__bar-user {
    width: 45%;
    margin: 15px 0px;
}

.progress__bar-user .progress {
    background-color: #e6e6e6;
}

.progress__bar-user .progress-bar {
    background-color: #f7ab27;
}


.btn__results {
    font-size: 18px;
    color: white;
    border: 0px;
    letter-spacing: 1px;
    margin: 15px 0px;
    display: block;
    padding: 5px 15px;
    width: fit-content;
    background: #f7ab27;
    border-radius: 3px;
    font-weight: 600;
}

.btn__results:hover {
    color: white;
    background: #e6a12b;
    transition: background-color 80ms linear
}

.btn__results span {
    margin-left: 10px;
}

/* Responsive */

@media only screen and (min-width: 1250px) {
    .results__container {
        height: fit-content;
    }
}

@media only screen and (max-width: 1100px) {
    .results__container {
        width: 100%;
        border-radius: 0%;
    }
}

@media only screen and (max-width: 991px) {
    .results__container {
        display: flex;
        flex-wrap: wrap;
    }

    .results__col_l {
        width: 100%;
        border-radius: 0%;
        margin-top: 800px;
        padding: 20px
    }

    .results__bar-container {
        width: 100%;
    }

    .results__col_r {
        width: 100%
    }
}

@media only screen and (max-width: 599px) {
    .results__container {
        display: flex;
        flex-wrap: wrap;
    }

    .results__col_l {
        width: 100%;
        border-radius: 0%;
        margin-top: 1100px;
        padding: 20px 20px 60px 20px
    }

    .results__bar-container {
        width: 100%;
    }

    .results__col_r {
        width: 100%
    }
}